<h3>Students Index</h3>
<p><%= link_to 'New Student', new_student_path %></p>
<% @students.each do |i| %>
 <h3><%= i.first_name %></h3>
 <h3><%= i.last_name %></h3>
 <p><%= i.year %></p>
 <%= link_to 'Show Student', student_path(i) %>
 <%= link_to 'Edit Student', edit_student_path(i) %>
 <%= link_to 'Destroy Student', i, method: :delete %>
<% end %>