<h1> Course </h1>
<h2><%= @course.title %></h2>
<h3><%= @course.subject %></h2>
<p><%= @course.code %></p>
<% @quizzes.each do |quiz| %>
<%= @quiz.title %>
<%= @quiz.points_pos %>
<%= @quiz.point_earned %>
<%= @quiz.grade_earned %>

<%= link_to 'Back', courses_path %>